<section>
<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="input-group">
            <h5>Correct Answers <span tooltip-html-unsafe="<p>
                                                                <li>The first provided answer will be the multiple choice option.</li>
                                                                <li>Subsequent answers provide more correct matches for text input type questions.</li>
                                                                <li>Add answers with the plus button to the right</li>
                                                                <li>Answers must be non-blank and less than 70 characters in length</li>
                                                                <li>Remove answers with the red X button to the right of the answer field</li>
                                                            </p>" class="glyphicon glyphicon-info-sign">
                                 </span></h5>
            <span class="input-group-btn">
                <button tooltip="Add answer" tooltip-placement="left" ng-click="addAnswer()" type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>
    </div>
    <div class="panel panel-body">
        <div ng-repeat="answer in quiz.questions[currentPage-1].answer track by $index">
            <div class="input-group">
                <input type="text" class="form-control" data-ng-model="quiz.questions[currentPage-1].answer[$index]" ng-maxlength="70" maxlength="90" ng-trim="true" required>
                <span class="input-group-btn">
                    <button tooltip="Remove answer {{$index+1}}" tooltip-placement="left" ng-click="delAnswerByIndex($index)" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </div>
        <br>
        <input type="checkbox" ng-model="quiz.questions[currentPage-1].ignoreCapitalisation" class="ng-valid ng-dirty">
        Ignore capitalisation? <span tooltip="Should answers be marked incorrect if they are not capitalised like your supplied answers?" class="glyphicon glyphicon-info-sign"></span>
    </div>
</div>
</section>
