<section>
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <div class="input-group">
                <h5>Incorrect Answers <span tooltip-html-unsafe="<p>
                                                                    <li>Incorrect answers are for multiple choice options</li>
                                                                    <li>The multiple choice option requires at least 3 incorrect answers</li>
                                                                    <li>Add incorrect answers with the plus button to the right</li>
                                                                    <li>Incorrect answers must be non-blank and less than 70 characters in length</li>
                                                                    <li>Remove incorrect answers with the red X button to the right of the incorrect answer field</li>
                                                                </p>" class="glyphicon glyphicon-info-sign">
                                                        </span></h5>
                <span class="input-group-btn">
                    <button tooltip="Add incorrect answer" tooltip-placement="left" ng-click="addWrongAnswer()" type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </div>
        <div class="panel panel-body">
            <div ng-repeat="answer in quiz.questions[currentPage-1].wrongAnswers track by $index">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="quiz.questions[currentPage-1].wrongAnswers[$index]" ng-maxlength="70" maxlength="70" ng-trim="true" required>
                    <span class="input-group-btn">
                        <button tooltip="Remove incorrect answer" tooltip-placement="left" ng-click="delWrongAnswerByIndex($index)" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
