<section>
    <div class="panel-body">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">

                    <div class="controls">
                        <div class="container-fluid">
                            <div class="row" collapse="selected === undefined">
                                <input type="text" focus-on="selected !== undefined" placeholder="Search question titles" ng-model="selected" typeahead-on-select="typeaheadCallback()" typeahead="question.title for question in quiz.questions | filter:$viewValue | limitTo:8" class="form-control">
                            </div>
                            <br>
                            <div class="row">
                                <input type="text" data-ng-model="quiz.questions[currentPage-1].title" id="question" class="form-control" ng-maxlength="70" maxlength="70" placeholder="Question title" ng-trim="true" required>
                            </div>
                            <div class="row">
                                <input type="text" class="form-control" data-ng-model="quiz.questions[currentPage-1].hint" id="hint" ng-maxlength="140" maxlength="140" placeholder="Question hint" ng-trim="true">
                            </div>
                            <br>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input type="text" data-ng-model="quiz.questions[currentPage-1].questionImage" id="questionImage" class="form-control" ng-maxlength="140" maxlength="140" placeholder="Quiz Image URL" ng-trim="true" maxlength="35">
                            </div>
                            <div class="panel-body">
                                <div collapse="!validQuestionImgurUrl">
                                    <img ng-src="{{validateQuestionImgurUrl(quiz.questions[currentPage-1].questionImage)}}" width="100%" alt="Image preview failed to load. Valid imgur links are in the form: https://imgur.com/Sudf246.png"/>
                                </div>
                                <pre collapse="validQuestionImgurUrl">Enter a valid imgur.com URL
                                EG: http://i.imgur.com/Sudf246.png</pre>
                            </div>
                        </div>

                        <!-- Accepted Answers -->
                        <correct-answers></correct-answers>

                        <!-- Wrong Answers -->
                        <incorrect-answers></incorrect-answers>

                        <question-settings></question-settings>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>
