<!-- Tabs Go Here -->
<section>
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li class="max-width-tab" ng-class="{ active:tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Summary</a>
            </li>
            <li class="max-width-tab" ng-class="{ active:tab.isSet(2) }" ng-click="updateNumPages()">
                <a href ng-click="tab.setTab(2)">Q<tab2hide ng-hide="tab.isSet(2)">uestions</tab2hide><qnumbers ng-show="tab.isSet(2)"> {{currentPage}}/{{numPages}}</qnumbers></a>
            </li>
            <li class="max-width-tab" ng-class="{ active:tab.isSet(3) }">
                <a href ng-click="tab.setTab(3)">Settings</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <!--  Summary Tab's Content  -->
        <summary role="presentation" ng-show="tab.isSet(1)"></summary>
        <!--  Questions Tab's Content  -->
        <questions ng-show="tab.isSet(2)"></questions>

        <!--  Settings Tab's Content  -->
        <settings ng-show="tab.isSet(3)"></settings>
    </div>
</section>
