
    <br>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="quiz.summary[0].name" id="name" class="form-control" ng-maxlength="70" maxlength="70" placeholder="Quiz Name" ng-trim="true" required>
                        <textarea class="form-control" rows="5" data-ng-model="quiz.summary[0].desc" id="desc" ng-maxlength="140" maxlength="140" placeholder="Quiz description" ng-trim="true"></textarea>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input type="text" data-ng-model="quiz.summary[0].quizVideo" id="quizVideo" class="form-control" ng-maxlength="140" maxlength="140" placeholder="Quiz Youtube video URL" ng-trim="true" maxlength="140">
                            </div>
                            <div class="panel-body">
                                <div collapse="!validYoutubeUrl">
                                    <div class="embed-responsive embed-responsive-16by9"><!--  ng-if="validateYoutubeUrl(quiz.summary[0].quizVideo)"-->
                                        <iframe class="embed-responsive-item" ng-src="{{validateYoutubeUrl(quiz.summary[0].quizVideo)}}"></iframe>
                                    </div>
                                </div>
                                <pre collapse="validYoutubeUrl">Enter a valid youtube URL for a live preview.
                                    EG: https://www.youtube.com/watch?v=wy-lXL_eEAA</pre>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input type="text" data-ng-model="quiz.summary[0].quizImage" id="quizImage" class="form-control" ng-maxlength="140" maxlength="140" placeholder="Quiz Image URL" ng-trim="true" maxlength="35">
                            </div>
                            <div class="panel-body">
                                <div collapse="!validImgurUrl">
                                    <img ng-src="{{validateImgurUrl(quiz.summary[0].quizImage)}}" width="100%" alt="Image preview failed to load. Valid imgur links are in the form: https://imgur.com/Sudf246.png"/>
                                </div>
                                <pre collapse="validImgurUrl">Enter a valid imgur.com URL
                                EG: http://i.imgur.com/Sudf246.png</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </fieldset>
        </form>

    </div>
