<section>
    <h3>{{question.title}}</h3>
    <h4 ng-if="question.hint"><i>Hint: {{question.hint}}</i></h4>
    <div class="panel-body" collapse="question.questionImage.length < 10">
        <img ng-if="question.questionImage.length > 10" ng-src="{{question.questionImage}}" width="100%" alt="Image failed to load"/>
    </div>

    <!-- Multiple choice -->
    <div ng-if="question.questionType === 'Multiple Choice'">
        <h4>Your answer: <p>~<b>{{question.userAnswer.substring(0,20)}}
            {{question.userAnswer.substring(20,50)}}
            {{question.userAnswer.substring(50)}}
        </b></p></h4>
        <div class="row">
            <div ng-repeat="answer in question.answers track by $index">
                <div class="col-sm-6 col-lg-3">
                    <label class="btn btn-primary" style="width:100%; height:80%" ng-model="question.userAnswer" btn-radio="answer" uncheckable><br>{{answer.substring(0,36)}}<br>{{answer.substring(36)}}<br></label>
                </div>
            </div>
        </div>
        <button class="btn btn-default" ng-click="submitAnswer()" type="button" style="width:100%;"><br>Submit Answer<br><br></button>
    </div>

    <!-- Text input -->
    <div ng-if="question.questionType === 'Text Input'">
        <h4>Your answer: <p>~<b>{{question.userAnswer.substring(0,20)}}
            {{question.userAnswer.substring(20,50)}}
            {{question.userAnswer.substring(50)}}
        </b></p></h4>
        <input type="text" data-ng-model="question.userAnswer" id="userAnswer" class="form-control" ng-maxlength="140" maxlength="140" placeholder="Input your answer here" ng-trim="true">
        <button class="btn btn-default" ng-click="submitAnswer()" type="button" style="width:100%;"><br>Submit Answer<br><br></button>
    </div>

    <!-- Session Summary -->
    <div ng-if="question.timeElapsed">
        <p>
            You took {{question.timeElapsed | msToHuman}} to do the {{question.nCorrect + question.nWrong}} questions.
            You scored {{question.nPoints}}/{{question.maxPoints}} which is {{100*question.nPoints/question.maxPoints | number:1}}%
        </p>
    </div>
    <br><br><br><br>
</section>
